<h1>Do you want to be happy?</h1>
<form method="POST" id="petitionform">
    <h2>Dear, {{last}} {{first}}</h2>
    <p>Sign here and be the happiest in this world. Add your name to the list of
        happiest people!🎈</p>
    {{#if signedError}}<p>Your input data is wrong</p>{{/if}}

    <canvas width="400px" height="150px" id="signBox"></canvas>
    <input type="hidden" id="signInput" name="signature" value="" />
    <button type="submit">Submit</button>
</form>