<form method="POST" id="registerform">
    <h1>Register here and sign the petition</h1>

    <label for="ulast">LastName: </label>
    <input type="text" id="ulast" name="last" />
    <label for="ufirst">FirstName: </label>
    <input type="text" id="ufirst" name="first" />
    <label for="uemail">Email: </label>
    <input type="text" id="uemail" name="email" required />
    <label for="upassword">Password: </label>
    <input type="password" id="upassword" name="password" required />
    <button type="submit">Register</button>
</form>
<p>If you are already registered please <a href="/login">log in here</a></p>