<h2>Congratulations!</h2>
<p>There is one more happier person in the world ❤️</p>

<div>
    <img src={{signature}} alt="picture with signature" />
</div>
<div class="links">
    <a href="/signers" class="links">See all {{signersCount}} happy people</a>
</div>
<div class="links">
    <a href="/profile/edit">Edit your profile</a>
</div>

<form method="POST" action="/delete-signature" class="links">
    <a href="#" onclick="this.parentNode.submit();">
        Delete your signature</a>
</form>