<h2>Congratulations!</h2>
<p>There is one more happier person in the world 😀</p>

<div>
    <img src={{signature}} />
</div>
<div>
    <a href="/signers">See all {{signersCount}} happy people</a>
</div>
<div>
    <a href="/profile/edit">Edit your profile</a>
</div>

<form method="POST" action="/delete-signature">
    <!-- <button type="submit">Delete Signature</button>-->

    <a href="#" onclick="this.parentNode.submit();"> Delete your signature</a>
</form>